@import "tailwindcss";

@theme {
  --color-primary: #0052FF;
  --color-dark: #0E121B;
  --color-gray: #717784;
  --color-label: #181B25;
  --color-placeholder: #99A0AE;
}

* {

  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
